* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 100px;
}

.playerOne,
.playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.playerName {
    font-size: 48px;
}

.playerScore {
    font-size: 32px;
}

#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 300px;
}

.choice {
    padding: 16px 32px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
}