* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 100px;
}

.playerOne,
.playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.playerOneName,
.playerTwoName {
    font-size: 48px;
}

.playerOneScore,
.playerTwoScore {
    font-size: 32px;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-size: 24px;
}

.playerChoices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 300px;
}

.choiceButton {
    padding: 16px 32px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
}